*.epub
*.onnx
*.egg-info
*.so
*.pt

.env
.vscode/
.ruff_cache/
__pycache__/

build/
caches/
tests/
extern/
dist/
cython_debug/

AudiobooksList/
AudiobookTextSyncCache/

ats/calign/calign.c
ats/extra/hirschberg.c
